@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn  my-2 my-sm-0" asp-controller="Account" asp-action="Login" style="    font-size: 0.9375rem; color: white; border-style: none;border-radius: 50px;">
         Giriş yap
    </a>
    <span style="padding: 2px;"></span>

    <a class="btn  my-2 my-sm-0" asp-controller="Account" asp-action="Register" style="    font-size: 0.9375rem; color: white;border-style: none;border-radius: 50px;">
         Kayıt ol
    </a>
}
else
{

    @*User profile section*@
    <div class="" style="flex-direction: row;">
        
       
         
            <a class="btn  my-2 my-sm-0" style=" font-size: 0.9375rem; color: white;border-style: none;border-radius: 50px;">Hello @UserManager.GetUserName(User)</a> 
           
       
                <a class="btn  my-2 my-sm-0" asp-controller="Orders" asp-action="Index" style=" font-size: 0.9375rem; color: white;border-style: none;border-radius: 50px;">
                    Biletler
                </a>
       

          
       
    </div>
    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0" style="    font-size: 0.9375rem; color: white;border-style: none;border-radius: 50px;">
            <i class="bi bi-box-arrow-in-right"></i> Çıkış yap
        </button>
    </form>
}
