@using eCommerce.Data.ViewModels;
@model RegisterVM;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Yeni bir hesap için kaydolun";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Yeni bir hesap için kaydolun</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Ad-Soyad</label>
                        <input asp-for="FullName" class="form-control" style="border-radius: 70px;"/>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label">E-mail</label>
                        <input asp-for="EmailAddress" class="form-control" style="border-radius: 70px;"/>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Şifre</label>
                        <input asp-for="Password" class="form-control" style="border-radius: 70px;"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Şifreni tekrarla</label>
                        <input asp-for="ConfirmPassword" class="form-control" style="border-radius: 70px;" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <span style="padding:5px;"></span>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Kayıt Ol" style="background-color:#F8E71C;border-style: none;border-radius: 100px;" />
                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index" style="background-color:#F8E71C;border-style: none;border-radius: 100px;">Kapat</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
